# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# pytest cache
.pytest_cache/

# Virtual Environment
env/
venv/

# Editor specific files
.vscode/
.idea/

# System-specific files
.DS_Store
Thumbs.db
desktop.ini
*~
